# Data Analysis

In [2]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns

sns.set()

In [3]:
data = pd.read_excel('epiDEMdata.xlsx')

In [4]:
data

    Infection Chance    R0
0                 10  1.30
1                 15  1.71
2                 20  1.64
3                 25  2.22
4                 30  2.74
5                 35  2.39
6                 40  3.60
7                 45  4.09
8                 50  3.66
9                 55  3.60
10                60  3.47
11                65  4.23
12                70  4.16
13                75  4.09

In [5]:
X = data['Infection Chance']
X

0     10
1     15
2     20
3     25
4     30
5     35
6     40
7     45
8     50
9     55
10    60
11    65
12    70
13    75
Name: Infection Chance, dtype: int64

In [6]:
y = data['R0']
y

0     1.30
1     1.71
2     1.64
3     2.22
4     2.74
5     2.39
6     3.60
7     4.09
8     3.66
9     3.60
10    3.47
11    4.23
12    4.16
13    4.09
Name: R0, dtype: float64